body {
    font-family: sans-serif;
    background: #f0f0f0;
    padding: 20px;
}

form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

input:focus {
    background: #fff;
    border-color:
        #66afe9;
    outline: none;
}



button {
    margin-top: 15px;
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}